:root {
  --outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
  background-image: url(./images/header.jpg);
  text-shadow: var(--outline);
}

footer {
  background-image: url(./images/footer.jpg);
  text-shadow: var(--outline);
}
