:root {
  --outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
  background-image: url(./images/backgrounds/header.jpg);
  text-shadow: var(--outline);
}

main {
  background-color: #ffe7b3;
}

footer {
  background-image: url(./images/backgrounds/footer.jpg);
  text-shadow: var(--outline);
}
